{% extends 'base.html' %}

{% block principal1 %}

<div id="warning">
<table>
{% if form.errors %}
    {% for campos in form%}
        {% if campos.errors %}
            {% for error in campos.errors%}
            <tr>
                 <td>{{ error|escape }}</td>
            </tr>
            {%endfor%}
        {% endif %}
    {% endfor %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <tr>
            <td>{{ error|escape }}</td>
       </tr>
        {% endfor %}
    {% endif %}

{% endif %}
</table>
</div>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><input type="text" id="id_username" name="username" placeholder="Usuario"></td>
            </tr>
            <tr>
                <td><input type="password" id="id_password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><button type="submit">Acceder</button></td>
            </tr>
        </table>    
    </form>
{%endblock principal1%}

{% block principal2 %}
<a href="{% url 'usuarios:registro' %}"><button type="button">Registrar</button></a>
{%endblock principal2%}

