#block1 { grid-area: bloque1;}
#block2 { grid-area: bloque2;}
#block3 { grid-area: bloque3;}
#block4 { grid-area: bloque4;}
#block5 { grid-area: bloque5;}
#block6 { grid-area: bloque6;}
#block7 { grid-area: bloque7;}
#block9 { grid-area: bloque9;}
#block10 { grid-area: bloque10;}
#block11 { grid-area: bloque11;}
#block12 { grid-area: bloque12;}
#block5a { grid-area: bloque5a; }
#block5a1 { grid-area: bloque5a1; }
#block5a2 { grid-area: bloque5a2; }
#block5a3 { grid-area: bloque5a3; }
#block5b { grid-area: bloque5b; }
#block5b1 { grid-area: bloque5b1; }
#block5b2 { grid-area: bloque5b2; }
#block5b3 { grid-area: bloque5b3; }

.grid-container5{
    display: grid;
    grid-template-areas:
    'bloque5a'
    'bloque5b';
    grid-gap: 1px;
    /* background-color: #2196F3; */
    padding: 1px;
}

.grid-container5a{
    display: grid;
    grid-template-areas:
    'bloque5a1 bloque5a2 bloque5a3';
    grid-gap: 1px;
    /* background-color: #2196F3; */
    padding: 1px;
}

.grid-container5b{
    display: grid;
    grid-template-areas:
    'bloque5b1 bloque5b2 bloque5b3';
    grid-gap: 1px;
    /* background-color: #2196F3; */
    padding: 1px;
}

.grid-container2{
    display: grid;
    grid-template-areas:
    'bloque1 bloque1 bloque2 bloque2 bloque3 bloque3'
    'bloque4 bloque5 bloque5 bloque5 bloque5 bloque6'
    'bloque7 bloque5 bloque5 bloque5 bloque5 bloque9'
    'bloque10 bloque10 bloque11 bloque11 bloque12 bloque12';
    grid-gap: 1px;
    /* background-color: #2196F3; */
    padding: 1px;
}

.grid-container2 > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.contenedor{
    display: grid;
    grid-template-areas:
    'bloque8-1 bloque8-2 bloque8-3';
    grid-gap: 1px;
    padding: 1px;
}

.contenedor > div {
    text-align: center;
    padding: 8px 0;
    font-size: 30px;
}

#block4, #block6, #block7, #block9{
    height: 160px;
}

#block5{
    background-color: white ;
    background-size: 100% 100%;
} 


.boton {
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.circulo {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.c_rojo {	background-color: red; }

.c_verde {	background-color: green; }

.c_azul {	background-color: blue; }

.c_blanco {	background-color: white; }